h1,h2 {
    margin-left: 10px;
}
h3,h4 {
    margin-left: 20px;
}
article{
    margin-left: 10px;
}
tr,td,th{
    border: solid 1px black;
}
footer{
    display: flex;
    margin-top: 50px;
}

a{
   text-decoration: none;
    color: blue;
}
.pdl-10{
    padding-left: 10px;
}
.pdt-10{
    padding-top: 10px;
}

.mgt-30{
    margin-top: 30px;
}


